#jinja2:lstrip_blocks: True
---
version: '3'
services:
{% if elk_deploy_elasticsearch %}
  elasticsearch:
    image: {{ elk_images.elasticsearch }}
    restart: unless-stopped
    container_name: elasticsearch
    environment:
      - TZ={{ elk_timezone }}
      - node.name={{ inventory_hostname }}
      - cluster.name=es-docker-cluster
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms{{ elk_elastic_memory }} -Xmx{{ elk_elastic_memory }} -Dlog4j2.formatMsgNoLookups=true
      {% if elk_cluster %}
      - discovery.seed_hosts={{ elk_seed_hosts }}
      - cluster.initial_master_nodes={{ elk_master_hosts }}
      - network.publish_host={{ ansible_default_ipv4.address }}
      {% else %}
      - discovery.type=single-node
      {% endif %}
{% for _var in elk_elastic_extra_vars %}
      - {{ _var }}
{% endfor %}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "{{ elk_data_dir }}/elasticsearch:/usr/share/elasticsearch/data"
    networks:
      - elastic
    ports:
      - {{ elk_listen_ip }}:9200:9200
      {% if elk_cluster %}
      - {{ elk_listen_ip}}:9300:9300
      {% endif %}
{% endif %}
{% if elk_deploy_logstash %}
  logstash:
    image: {{ elk_images.logstash }}
    restart: unless-stopped
    container_name: logstash
    environment:
      - TZ={{ elk_timezone }}
      - LS_JAVA_OPTS=-Dlog4j2.formatMsgNoLookups=true
{% for _var in elk_logstash_extra_vars %}
      - {{ _var }}
{% endfor %}
    volumes:
      - "{{ elk_data_dir }}/logstash/cert:/usr/share/logstash/cert"
      - "{{ elk_data_dir }}/logstash/pipeline:/usr/share/logstash/pipeline"
      - "{{ elk_data_dir }}/logstash/patterns:/usr/share/logstash/patterns"
      - "{{ elk_data_dir }}/logstash/index_management:/usr/share/logstash/index_management"
      - "{{ elk_data_dir }}/logstash/logstash.yml:/usr/share/logstash/config/logstash.yml"
    ports:
{% for _port in elk_logstash_ports %}
      - {{ elk_listen_ip}}:{{ _port }}:{{ _port }}
{% endfor %}
    networks:
      - elastic
    command: --config.reload.automatic
    depends_on:
      - elasticsearch
{% endif %}
{% if elk_deploy_kibana %}
  kibana:
    image: {{ elk_images.kibana }}
    restart: unless-stopped
    container_name: kibana
    ports:
      - {{ elk_listen_ip}}:5601:5601
    environment:
      - TZ={{ elk_timezone }}
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - KIBANA_AUTOCOMPLETETERMINATEAFTER=5000000
{% for _var in elk_kibana_extra_vars %}
      - {{ _var }}
{% endfor %}
    networks:
      - elastic
    depends_on:
      - elasticsearch
{% endif %}
{% if elk_deploy_cerebro %}
  cerebro:
    image: {{ elk_images.cerebro }}
    restart: unless-stopped
    container_name: cerebro
    ports:
      - {{ elk_listen_ip}}:9000:9000
    networks:
      - elastic
{% endif %}
{% if elk_deploy_elastalert %}
  elastalert:
    image: {{ elk_images.elastalert }}
    restart: unless-stopped
    container_name: elastalert
    ports:
      - {{ elk_listen_ip}}:2030:3030
    volumes:
      - "{{ elk_data_dir }}/elastalert/elastalert.yaml:/opt/elastalert/config.yaml"
      - "{{ elk_data_dir }}/elastalert/rules:/opt/elastalert/rules"
    networks:
      - elastic
    depends_on:
      - elasticsearch
    environment:
      - TZ={{ elk_timezone }}
{% endif %}
networks:
  elastic:
